.Home {
	background-image: url("main.png");
    background-position: 50%;
    background-size: 455px;
    background-repeat: no-repeat;
	height: 50rem;
}


.h1 {
	font-weight: 300;
	font-size: 3em;
	margin: 0;
	padding-top: 2em;
	text-align: center;
}

.p {
	font-weight: 300;
	font-size: 1.5em;
	margin: 0;
	margin-top: 1em;
	text-align: center;
}
